---
import Layout from '../layouts/Layout.astro';
const title = "Loomine";
---

<Layout title={title}>
  <main class="container">
    <h1>Loomine</h1>

    <p>
      Loomineは2026年に発足した同人サークルです。代表者は洛瓶レネ（らくべ れね）。
    </p>
    <h2>お知らせ</h2>
    <p>2026年6月20日: ホームページを開設。</p>
  </main>
</Layout>